<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver</title>
</head>
<body>
    <h1>Driver: {{ driver.login }}</h1>
    <ul>
        <li>name_and_surname: {{ driver.name_and_surname }}</li>
        <li>phone_number: {{ driver.phone_number }}</li>
        <li>is_currently_working: {{ driver.is_currently_working }}</li>
        <li>rating: {{ driver.rating }}</li>
        <li>rating_count: {{ driver.rating_count }}</li>
        <li>car_id: {{ driver.car_id }}</li>
    </ul>
</body>
</html>